<div class="data">
  <div id="itemHeader" class="panel panel-default">

    <div class="panel-heading">

      <div class="form-group">
        <label for="selectedViewName">{{schema}} - ViewName:</label>
        <button id="selectedViewName" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ selectedViewName }}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="#v of viewNames" (click)="setViewName(v)">
            <a> {{ v }} </a>
          </li>
        </ul>
      </div>
    </div>

    <pre>{{outcomeText}}</pre>

  </div>
</div>