<div class="domain">
    <div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}</div>

    <item-search></item-search>

    <ul class="nav nav-pills nav-stacked">
        <li *ngFor="#dir of context">
            <a [routerLink]="['Domain', {path: dir.path}]">
                <span *ngIf="dir.isItem"  class="glyphicon glyphicon-file" aria-hidden="true"></span>
                <span *ngIf="!dir.isItem" class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
                {{ dir.name }}
            </a>
        </li>
    </ul>
</div>
